:root {
  --white: #f2f2f2;
  --pink: #eea2f6;
  --magenta: #ce41f5;
  --light-blue: #6801ef;
  --dark-blue: #100041;
  --indigo: #2a0a8b;
  --red: #fa015b;

  --transition-duration: 0.25s;
  --transition-function: ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}
